:root {
  --branding-color: #116964;
  --secondary-color: #e8fbfa;
  --third-color: #3bd1c4;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 78px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
h4 {
  font-size: 46px;
}
body {
  font-family: var(--default-font-family);
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-size: 24px;
  line-height: 2;
  color: #272142;
}
.content-container {
  padding: 80px 20px;
}
.content-container h1 {
  font-size: 58px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content {
  margin: 30px;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 14px;
}
.contact-info {
  text-align: center;
}
.about-foto {
  max-width: 85%;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-description {
  padding: 90px 60px;
}

.logo-nav {
  max-width: 200px;
}
.nav-item {
  padding: 0 10px;
}
.navbar-nav .nav-link.active {
  color: var(--branding-color);
}

footer {
  margin-bottom: 60px;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  margin: 60px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
  transition: all 100ms ease-in-out;
}

@media (max-width: 1280px) {
  h2 {
    font-size: 48px;
  }
  .content {
    margin-top: 0;
  }
  .content-container h1 {
    font-size: 46px;
    line-height: 60px;
  }
  .project-description {
    padding: 45px 30px;
  }

  .project-description {
    padding: 20px 60px;
  }
  .content-container {
    padding: 80px 20px;
  }

  footer .contact-box {
    padding: 30px 60px;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 38px;
  }

  .hero p {
    font-size: 28px;
  }
  .hero {
    padding: 60px 20px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
@media (max-width: 280px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 30px;
  }
  .hero p {
    font-size: 24px;
  }

  footer .email-link {
    font-size: 18px;
  }
}
